# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs y bases de datos
*.log
*.sqlite
*.db
logs/
instance/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de respaldo
backups/

# Archivos temporales
*.tmp
*.temp 